{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulaire d'Objectif</h5>

                        {{ form_start(form, { attr: { novalidate: 'novalidate', class: 'row g-3' } }) }}
                        
                        <div class="col-md-12">
                            {{ form_label(form.libelle, "Libelle", {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.libelle, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Mettez le Libelle ici'}}) }}
                            <small>{{ form_help(form.libelle) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.libelle) }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            {{ form_label(form.description, "Description", {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Mettez la description ici'}}) }}
                            <small>{{ form_help(form.description) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.description) }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            {{ form_label(form.budget, "Montant du budget", {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.budget, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Budget'}}) }}
                            <small>{{ form_help(form.budget) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.budget) }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            {{ form_label(form.deadline, "Deadline de l'objectif", {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.deadline, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Deadline'}}) }}
                            <small>{{ form_help(form.deadline) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.deadline) }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            {{ form_label(form.estimationCible, "Quantité en m3", {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.estimationCible, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Quantité en m3'}}) }}
                            <small>{{ form_help(form.estimationCible) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.estimationCible) }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            {{ form_label(form.statut, "Statut", {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.statut, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Statut'}}) }}
                            <small>{{ form_help(form.statut) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.statut) }}
                            </div>
                        </div>
                        
                        {% if form.site is defined %}
                            <div class="col-md-12">
                                {{ form_label(form.site, "Site", {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.site, {'attr': {'class': 'form-select'}}) }}
                                <small>{{ form_help(form.site) }}</small>
                                <div class="form_error">
                                    {{ form_errors(form.site) }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}