{% extends 'base.html.twig' %}

{% block title %}Objectif by ID{% endblock %}

{% block body %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Site</a></li>
          <li class="breadcrumb-item active">Objectif(s)</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3">
                <h5 class="card-title">Objectif : {{objectif.libelle}}</h5>
                <a href="{{ path('app_add_actionByObjectif', {'id': objectif.id}) }}"><button type='button' class="btn btn-secondary mr-10">Nouvelle action</button></a>
              </div>
              <p><b>Description</b> : {{objectif.description}}</p>
              <p class="text-primary"><b>Budget</b> : {{objectif.budget | number_format(0, ',', ' ') }}Ar </p>
              {% if objectif.estimationCible %}
                <p><b>Quantité cible</b> : {{objectif.estimationCible}}  m³</p>
              {% endif %}
              {% if objectif.resultat %}
                <p><b>Quantité obtenue</b> : {{objectif.resultat}}  m³</p>
              {% endif %}
              
              <p><b>Statut</b> :  
              {% if objectif.statut == 'inactif' %}
                Pas encore commencé
              {% endif %}</p>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      <b>N</b>om
                    </th>
                    <th data-type="date" data-format="DD/MM/YYYY">Date de début</th>
                    <th data-type="date" data-format="DD/MM/YYYY">Date de fin</th>
                  </tr>
                </thead>
                <tbody>
                {% for action in objectif.actions %}
                  <tr>
                    <td>{{action.libelle}}</td>
                    <td>{{action.dateDebut|date('d/m/Y')}}</td>
                    <td>{{action.dateFin|date('d/m/Y')}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
