{% extends 'base.html.twig' %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Liste des Matériaux</h1>
            <a href="{{path('app_add_materiel')}}" class="btn btn-secondary">Nouveau matériel</a>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_liste') }}">Accueil</a></li>
                <li class="breadcrumb-item active">Matériaux</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des Matériaux </h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Libelle</th>
                                    <th>Code</th>
                                    <th>Capacité en m³</th>
                                    <th>Coût</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for materiel in materiaux %}
                                    <tr>
                                        <td>{{ materiel.libelle }}</td>
                                        <td>{{ materiel.code }}</td>
                                        <td>{{ materiel.capacite }}</td>
                                        <td>{{materiel.cout | number_format(0, ',', ' ') }}Ar</td>
                                        <td>
                                            <a href="{{ path('app_update_materiel', {'id': materiel.id}) }}" class="btn btn-secondary">Modifier</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                        <!-- Ajout de la pagination -->
                            {{ knp_pagination_render(
                                materiaux,
                                '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
                            ) }}
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}
