{% extends 'base.html.twig' %}

{% block title %}Detail action{% endblock %}

{% block body %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Action</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('site_liste') }}" >Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('detail_site', {'id': action.objectif.site.id}) }}" >Site</a></li>
          <li class="breadcrumb-item "><a href="{{ path('app_detail_observation', {'id': action.objectif.id}) }}" >Objectif</a></li>
          <li class="breadcrumb-item active">Action</li>
        </ol>
      </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- Header avec le titre et les boutons -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="card-title mb-0">{{ action.libelle }}</h5>
                            <div>
                                <a href="{{ path('app_update_action', {'id': action.id}) }}" class="btn btn-secondary btn-sm me-2">Modifier</a>
                                <a href="{{ path('app_add_observationByAction', {'id': action.id}) }}" class="btn btn-dark btn-sm">Ajouter une observation</a>
                            </div>
                        </div>
                        
                        <p class="card-text">Date de début: {{ action.dateDebut|date('d/m/Y') }}</p>
                        {% if action.dateFin is not null %}
                            <p class="card-text">Date de fin: {{ action.dateFin|date('d/m/Y') }}</p>
                        {% else %}
                            <p class="card-text">Date de fin: Non défini</p>
                        {% endif %}
                        <p class="card-text">Avancement: {{ action.avancement }}</p>

                        <!-- Card pour les Observations à l'intérieur de la carte principale -->
                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Observations</h5>

                                <!-- Accordion pour les Observations -->
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    {% for observation in action.observations %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-heading{{ loop.index }}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse{{ loop.index }}">
                                                    {{ observation.libelle }}
                                                </button>
                                            </h2>
                                            <div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ loop.index }}" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>Date et Heure: {{ observation.dateHeure|date('d/m/Y H:i') }}</p>
                                                    <p>Détail: {{ observation.detail }}</p>
                                                    <!-- Remplacez `observation.detail` par l'attribut correct pour afficher les détails de l'observation -->
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <p class="card-text">Aucune observation disponible.</p>
                                    {% endfor %}
                                </div><!-- Fin de l'accordéon pour les Observations -->
                            </div>
                        </div><!-- Fin de la carte pour les Observations -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
