{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulaire de nouvelle action</h5>

                        {{ form_start(form, { attr: { novalidate: 'novalidate', class: 'row g-3' } }) }}

                        <div class="col-12">
                            {{ form_label(form.libelle, "Libelle", { 'label_attr': { 'class': 'form-label' } }) }}
                            {{ form_widget(form.libelle, { 'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Mettez le Libelle ici' } }) }}
                            <small>{{ form_help(form.libelle) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.libelle) }}
                            </div>
                        </div>
                        {% if form.objectif is defined %}
                            <div class="col-12">
                            {{ form_label(form.objectif, "Objectif", { 'label_attr': { 'class': 'form-label' } }) }}
                            {{ form_widget(form.objectif, { 'attr': { 'class': 'form-control form-control-lg' } }) }}
                            <small>{{ form_help(form.objectif) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.objectif) }}
                            </div>
                        </div>
                        {% endif %}
                        

                        <div class="col-12">
                            {{ form_label(form.dateDebut, "Début du projet", { 'label_attr': { 'class': 'form-label' } }) }}
                            {{ form_widget(form.dateDebut, { 'attr': { 'class': 'form-control form-control-lg' } }) }}
                            <small>{{ form_help(form.dateDebut) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.dateDebut) }}
                            </div>
                        </div>

                        <div class="col-12">
                            {{ form_label(form.avancement, "Avancement du travail", { 'label_attr': { 'class': 'form-label' } }) }}
                            {{ form_widget(form.avancement, { 'attr': { 'class': 'form-control form-control-lg' } }) }}
                            <small>{{ form_help(form.avancement) }}</small>
                            <div class="form_error">
                                {{ form_errors(form.avancement) }}
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <a href="{{ path('app_detail_observation', {'id': form.vars.value.objectif.id}) }}"><button type='button' class="btn btn-info">Retour</button></a>
                            <button type="submit" class="btn btn-secondary">Ajouter l'action</button>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
