{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row row-cols-2">
            <div class="col-md-4">
                {{form_start(form, { attr: { novalidate: 'novalidate'}})}}
                <div class='form-control'>
                    {{form_label(form.objectif,"Objectif title")}}
                    {{form_widget(form.objectif)}}

                    <small> {{form_help(form.objectif)}}</small>
                    <div class="form_error">
                        {{form_errors(form.objectif)}}
                    </div>
                </div>
                <div class='form-control'>
                    {{form_label(form.libelle,"Libelle")}}
                    {{form_widget(form.libelle, {"attr" : {"placeholder": "mettez le Libelle ici"}})}}

                    <small> {{form_help(form.libelle)}}</small>
                    <div class="form_error">
                        {{form_errors(form.libelle)}}
                    </div>
                </div>
                <div class='form-control'>
                    {{form_label(form.dateDebut,"Début du projet")}}
                    {{form_widget(form.dateDebut)}}

                    <small> {{form_help(form.dateDebut)}}</small>
                    <div class="form_error">
                        {{form_errors(form.dateDebut)}}
                    </div>
                </div>
                <div class='form-control'>
                    {{form_label(form.dateFin,"Début du projet")}}
                    {{form_widget(form.dateFin)}}

                    <small> {{form_help(form.dateFin)}}</small>
                    <div class="form_error">
                        {{form_errors(form.dateFin)}}
                    </div>
                </div>
                <div class='form-control'>
                    {{form_label(form.avancement,"Avancement du travail")}}
                    {{form_widget(form.avancement)}}

                    <small> {{form_help(form.avancement)}}</small>
                    <div class="form_error">
                        {{form_errors(form.avancement)}}
                    </div>
                </div>
                <div class="form-control" >
                    <input type="submit" value="Modifier l'action" class="btn btn-primary">
                </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}
