{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <!-- Début de la carte Bootstrap -->
            <div class="card col-md-8 mt-4"> <!-- Ajout de mt-4 pour le margin-top -->
                <div class="card-body">
                    <h5 class="card-title">Modifier l'action</h5>
                    
                    <!-- Début du formulaire -->
                    {{ form_start(form, { attr: { novalidate: 'novalidate', class: 'row g-3' } }) }}
                    
                    <div class="col-12">
                        {{ form_label(form.objectif, "Objectif title", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.objectif, {'attr': {'class': 'form-control'}}) }}
                        <small>{{ form_help(form.objectif) }}</small>
                        <div class="form_error">
                            {{ form_errors(form.objectif) }}
                        </div>
                    </div>

                    <div class="col-12">
                        {{ form_label(form.libelle, "Libelle", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.libelle, {'attr': {'class': 'form-control', 'placeholder': 'mettez le Libelle ici'}}) }}
                        <small>{{ form_help(form.libelle) }}</small>
                        <div class="form_error">
                            {{ form_errors(form.libelle) }}
                        </div>
                    </div>

                    <div class="col-12">
                        {{ form_label(form.dateDebut, "Début de l'action", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                        <small>{{ form_help(form.dateDebut) }}</small>
                        <div class="form_error">
                            {{ form_errors(form.dateDebut) }}
                        </div>
                    </div>

                    <div class="col-12">
                        {{ form_label(form.dateFin, "Fin de l'action", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                        <small>{{ form_help(form.dateFin) }}</small>
                        <div class="form_error">
                            {{ form_errors(form.dateFin) }}
                        </div>
                    </div>

                    <div class="col-12">
                        {{ form_label(form.avancement, "Avancement du travail", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.avancement, {'attr': {'class': 'form-control'}}) }}
                        <small>{{ form_help(form.avancement) }}</small>
                        <div class="form_error">
                            {{ form_errors(form.avancement) }}
                        </div>
                    </div>
                    <!-- Bouton de soumission -->
                    <div class="text-center">
                        <a href="{{ path('app_detail_action', {'id': form.vars.value.objectif.id}) }}"><button type='button' class="btn btn-info">Retour</button></a>
                        <input type="submit" value="Modifier l'action" class="btn btn-secondary">
                    </div>
                    
                    {{ form_end(form) }}
                    <!-- Fin du formulaire -->
                </div>
            </div>
            <!-- Fin de la carte Bootstrap -->
        </div>
    </div>
{% endblock %}
