{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row row-cols-2">
            <div class="col-md-4">
                {{form_start(form, { attr: { novalidate: 'novalidate'}})}}
                <div class='form-control'>
                    {{form_label(form.libelle,"Libelle")}}
                    {{form_widget(form.libelle, {"attr" : {"placeholder": "mettez le Libelle ici"}})}}

                    <small> {{form_help(form.libelle)}}</small>
                    <div class="form_error">
                        {{form_errors(form.libelle)}}
                    </div>
                </div>
                <div class='form-control'>
                    {{form_label(form.dateHeure,"date du commentaire")}}
                    {{form_widget(form.dateHeure)}}

                    <small> {{form_help(form.dateHeure)}}</small>
                    <div class="form_error">
                        {{form_errors(form.dateHeure)}}
                    </div>
                </div>
                <div class='form-control'>
                    {{form_label(form.action,"Action")}}
                    {{form_widget(form.action)}}

                    <small> {{form_help(form.action)}}</small>
                    <div class="form_error">
                        {{form_errors(form.action)}}
                    </div>
                </div>
                <div class="form-control" >
                    <input type="submit" value="Ajouter l'observation" class="btn btn-primary">
                </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}
