{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row row-cols-2">
            <div class="col-md-4">
                {{form_start(form, { attr: { novalidate: 'novalidate'}})}}
                 {% if form.site is defined %}
                <div class='form-control'>
                    {{form_label(form.site,"Site")}}
                    {{form_widget(form.site)}}

                    <small> {{form_help(form.site)}}</small>
                    <div class="form_error">
                        {{form_errors(form.site)}}
                    </div>
                </div>
                {% endif %}
                <div class='form-control'>
                    {{form_label(form.libelle,"Libelle")}}
                    {{form_widget(form.libelle, {"attr" : {"placeholder": "mettez le Libelle ici"}})}}

                    <small> {{form_help(form.libelle)}}</small>
                    <div class="form_error">
                        {{form_errors(form.libelle)}}
                    </div>
                </div>
                <div class='form-control'>
                    {{form_label(form.description,"Description")}}
                    {{form_widget(form.description, {"attr" : {"placeholder": "Description du produit"}})}}

                    <small> {{form_help(form.description)}}</small>
                    <div class="form_error">
                        {{form_errors(form.description)}}
                    </div>
                </div>
                <div class='form-control'>
                    {{form_label(form.daty,"Date de l'incident")}}
                    {{form_widget(form.daty)}}

                    <small> {{form_help(form.daty)}}</small>
                    <div class="form_error">
                        {{form_errors(form.daty)}}
                    </div>
                </div>
               
                <div class="form-control" >
                    <input type="submit" value="Add incident" class="btn btn-primary">
                </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}
