{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new Polygon</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_widget(form.coordinates) }}
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <div id="mapid" style="height: 600px;"></div>

    <script>
        var mymap = L.map('mapid').setView([-18.917923, 47.522342], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        var drawnItems = new L.FeatureGroup();
        mymap.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                polygon: true,
                polyline: false,
                rectangle: false,
                circle: false,
                marker: false,
                circlemarker:false
            },
            edit: {
                featureGroup: drawnItems,
                edit: false,
                remove: false
            }
        });
        mymap.addControl(drawControl);

        mymap.on(L.Draw.Event.CREATED, function(event) {
            var layer = event.layer;
            drawnItems.addLayer(layer);

            var coordinates = layer.getLatLngs()[0].map(function(point) {
                return [point.lat, point.lng];
            });

            document.getElementById('polygon_coordinates').value = JSON.stringify(coordinates);
        });
    </script>
{% endblock %}
