{% extends 'base.html.twig' %}

{% block title %}Form Site!{% endblock %}

{% block body %}
<style>
        /* Styles for the sidebar */
        #mapid {
            position: relative;
        }
        .hidden2 {
            display: none;
        }
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

        @keyframes animate {
            from {
                opacity: 1;
            }
            to {
                opacity: 0.6;
            }
        }
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h1>Formulaire de nouvelle station</h1>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item active">Formulaire Station</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-8">
                <div id="mapid" style="height: 500px; width: 100%;">
                    <!-- Div de la carte -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter une Station</h5>

                        <!-- Formulaire pour ajouter une station -->
                        <form method="post" action="{{ path('station_insert') }}">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="libelle">Libelle</label>
                                    <input type="text" class="form-control" id="libelle" name="libelle">
                                </div>
                                <div class="form-group col-12">
                                    <label for="code">Code</label>
                                    <input type="text" class="form-control" id="code" name="code">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="coord">Coordonnées</label>
                                    <input type="text" class="form-control" id="coord" name="coord">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="site">Sélectionner un Site</label>
                                    <select id="site" name="site" class="form-control">
                                        <option value="">-- Sélectionner un site --</option>
                                        {% for site in sites %}
                                            <option value="{{ site.id }}">{{ site.libelle }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="sources">Sources</label>
                                    <!-- Champ de sélection multiple pour les sources -->
                                    <select id="sources" name="sources[]" class="form-control" multiple>
                                        {% for source in sources %}
                                            <option value="{{ source.id }}">{{ source.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Confirmer</button>
                        </form>
                        <!-- Fin du formulaire -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<script>
        // Initialiser la carte
        var mymap = L.map('mapid').setView([-18.917923, 47.522342], 8);

        // Ajouter une couche de tuiles (tiles layer)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);


         mymap.pm.addControls({
            position: "topleft", // Position de la barre d'outils
            drawMarker: true, // adds button to draw markers
            drawRectangle: false, // adds button to draw a polygon
            drawPolygon: false, // adds button to draw a polygon
            drawPolyline: false, // adds button to draw a polyline
            drawCircle: false, // adds button to draw a cricle
            drawCircleMarker: false, // adds button to draw a cricle
            editPolygon: false, // adds button to toggle global edit mode
            deleteLayer: true, // adds a button to delete layers
        });

        var currentMarker = null;

        // Événement lors de la création d'un marqueur
        mymap.on('pm:create', function(e) {
            // Vérifier si un marqueur existe déjà
            if (currentMarker) {
                // Supprimer le marqueur précédent
                
                map.removeLayer(currentMarker);
            }
            // Ajouter le nouveau marqueur
            currentMarker = e.layer;
            document.getElementById('coord').value = currentMarker.getLatLng();
            console.log('Marqueur ajouté: ' +  currentMarker.getLatLng());

            // Rendre le nouveau marqueur déplaçable
            currentMarker.on('dragend', function(e) {
                var latlng = currentMarker.getLatLng();
                document.getElementById('coord').value = latlng;
                console.log('Marqueur déplacé : ' + latlng);
            });
        });


</script>

{% endblock %}
